/* Navigation */

.navbar {
  height: 0px;
  background: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
}
.navbar-brand {
  margin-top: -10px;
  color:white;
}
.navbar-brand:hover {
  color: grey;
  border: 1px solid grey;
}
.navbar-nav li a {
  color: black;
  margin: -10px 5px 5px 5px;
}
.navbar-nav li a:hover {
  color: grey;
  border: 1px solid grey;
}
.navbar-toggler {
  border-color: grey;
}
.navbar-toggler-icon {
  background: transparent;
}

/* Solid class attached on scroll past first section */

.navbar.solid {
  background-color: white;
  transition: 1s ease 0s;
  box-shadow: 0 0 4px gray;
  .navbar-brand {
    color: grey;
    transition: color 1s ease 0s;
  }
  .navbar-nav {
    >li {
      >a {
        color: grey;
        transition: color 1s ease 0s;
      }
    }
  }
}

/* Jumbotron */
.jumbotron {
  background: transparent;
  background: url("https://th.bing.com/th/id/OIP.eTnj_eWK0xzaxrF9TYJXjQHaEK?w=270&h=183&c=7&o=5&pid=1.7")
              no-repeat;
  background-position: top;
  clip-path: circle ();
  margin-bottom: 10px;
  height: 350px;
  border-radius: 0%;
}
.jumbotron .container {
  padding-top: 2rem;
}

/* About Section */
.about {
  padding-top: 30px;
  background-color: gray;
  text-align: center;
}
.about-image {
  background-color: gray;
  background: url("https://media-exp1.licdn.com/dms/image/C4E03AQHGhMVIJ_te0A/profile-displayphoto-shrink_200_200/0/1604830024604?e=1620864000&v=beta&t=ug2u9h_cNdWXVIXC13pO6MyVx8ndUUMheHjFA2DfyxA")
              no-repeat;
  padding-top: 10px;
  /* centered image */
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
.profile-image {
  border-radius: 50%;
  height: 350px;
  width: 350px;
}
.list-group {
}
.list-group-item {
  background-color: gray;
  padding-top: 3px;
  padding-bottom: 3px;
}
.list-group-item:last-child {
  padding-bottom: 10px;
}
.skills {
  text-align: center;
}

/* internship Section */
.work {
  background:lightgray;
 
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
.card-work {
  width: 100rm;
  text-align: center;
}
/* Contact Section */
.contact-background {
  background: transparent;
  background: url("https://github.com/Code-Man23/Code-Man23.github.io/blob/master/land.jpg?raw=true")
              no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  margin-bottom: 0px;
  height: 350px;
}
.contact-font {
  color: white;
  text-align: center;
}
.contact-spacing {
  padding-top: 2rem;
}
