{
padding: 0;
margin: 0;
text-decoration: none;
list-styling: none;
box-sizing: border-box;
}

body{
    font-family: monsterrat;
    }

    nav{
        background: rgb(128,128,128);
        height: 80px;
        width: 100%;
    }
    a.navbar-brand{
        color:white;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
    }

    nav ul{
        float: right;
        margin-right: 20px;
    }

    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

    nav ul li h{
     color: rgb(255, 253, 253);
     font-size: 17px;
     text-transform: uppercase;
    }   

    .social-icons {
        text-align: center;
        }  
      .social-icons li {
        display:inline-block;
        list-style-type:none;
        -webkit-user-select:none;
        -moz-user-select:none;
        }
      .social-icons li a {
        border-bottom: none;
        }
      .social-icons li img {
        width:70px;
        height:70px;
        margin-right: 20px;
      }